<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - SDN Poris Pelawad 6</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/login-style.css}">
</head>
<body>

<div class="login-page">
    <div class="left"></div>
    <div class="right">
        <div class="login-form">
        <img src="/img/Logoo.png" alt="Logo" />
            <h2>Lupa Password</h2>
            <form th:action="@{/forgot-password}" method="post">
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Masukkan Email" required />
                <button type="submit">Kirim Link Reset</button>
            </form>

            <div th:if="${message}">
                <p th:text="${message}"></p>
            </div>
            <div th:if="${error}">
                <p th:text="${error}" style="color:red;"></p>
            </div>

            <div class="back-login">
            <a th:href="@{/login}">Kembali ke Login</a>
        </div>
    </div>
</div>
</div>
<script>
    // Toggle password
    const togglePassword = document.getElementById('togglePassword');
    const passwordInput = document.getElementById('password');
    const eyeIcon = document.getElementById('eyeIcon');

    togglePassword.addEventListener('click', function () {
        const isPassword = passwordInput.type === 'password';
        passwordInput.type = isPassword ? 'text' : 'password';
        eyeIcon.classList.toggle('fa-eye');
        eyeIcon.classList.toggle('fa-eye-slash');
    });

    // Toggle konfirmasi password
    const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');
    const confirmPasswordInput = document.getElementById('confirmPassword');
    const eyeConfirmIcon = document.getElementById('eyeConfirmIcon');

    toggleConfirmPassword.addEventListener('click', function () {
        const isPassword = confirmPasswordInput.type === 'password';
        confirmPasswordInput.type = isPassword ? 'text' : 'password';
        eyeConfirmIcon.classList.toggle('fa-eye');
        eyeConfirmIcon.classList.toggle('fa-eye-slash');
    });
</script>

</body>
</html>
