<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop Keterampilan Digital</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/sub-berita.css">
</head>

<body>
<header>
    <h1>SDN Poris Pelawad 6 Melaksanakan P5 Bertema "Kebhinekaan Global" di Taman Mini Indonesia Indah</h1>
</header>

<div class="container">
    <div class="konten-berita">
        <img src="/img/BeritaKunjungan.jpeg" alt="Gambar Workshop Keterampilan Digital">
        <h2>SDN Poris Pelawad 6 Melaksanakan P5 Bertema "Kebhinekaan Global" di Taman Mini Indonesia Indah</h2>
        <div class="info-meta">
            <p><strong>Tanggal:</strong> 16 Desember 2024 | <strong>Penulis:</strong> Anisa Amelia</p>
        </div>
        <p>Dalam rangka Pelaksanaan Projek Penguatan Profil Pelajar Pancasila (P5), SDN Poris Pelawad 6 mengadakan kunjungan edukatif ke Taman Mini Indonesia Indah (TMII) pada 16 Desember 2024. Kegiatan ini mengusung tema "Kebhinekaan Global", yang bertujuan untuk memperkenalkan dan memperkuat pemahaman siswa tentang keberagaman budaya di Indonesia sebagai bagian dari kehidupan global.</p>
        <p>Selama kunjungan, siswa-siswi SDN Poris Pelawad 6 berkesempatan untuk mengeksplorasi anjungan-anjungan daerah yang mewakili berbagai provinsi di Indonesia. Mereka belajar tentang adat istiadat, pakaian tradisional, rumah adat, hingga seni budaya khas setiap daerah. Kegiatan ini tidak hanya menambah wawasan mereka tentang keanekaragaman budaya Indonesia, tetapi juga menumbuhkan rasa bangga sebagai generasi penerus bangsa.</p>
        <p>Para siswa juga mengikuti kegiatan interaktif, seperti menari tradisional. Semua ini memberikan pengalaman yang menyenangkan sekaligus edukatif.</p>
        <p>Kepala SDN Poris Pelawad 6, Ibu Juhairiyah, mengungkapkan, “Melalui kegiatan ini, kami berharap siswa dapat memahami pentingnya menghargai keberagaman budaya serta meningkatkan semangat toleransi sebagai pelajar yang berkarakter Pancasila."</p>
        <!-- Button to go back -->
        <a th:href="@{/informasi/berita}" class="btn-back">Kembali ke Berita</a>

    </div>
</div>

<footer>
    <div class="social-media">
                <a href="https://www.instagram.com/sdnporispelawad6?igsh=NXExNnVwcHpuNWh3" class="social-link"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="https://youtube.com/@sdnpp6channel80?feature=shared" class="social-link"><i class="fab fa-youtube"></i> Youtube</a>
            </div>
    <p>&copy; 2024 SDN Poris Pelawad 06. All rights reserved.</p>
</footer>

</body>
</html>
